:root {
  --color-primary: #515373;
  --color-primary-dark: #3A3C51;
  --color-secondary: #acceaf;
  --color-secondary-dark: #9ccce7;
  --color-tertiary: #dca06a;
  --color-tertiary-dark: #d38172;
  --color-quarternary: #2B2B2B;
  --color-quarternary-light: #fff;

  --font-secondary: "Libre Baskerville", serif;
  --font-primary: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: 700;
}

ul, ol, dl {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: 400;
}

a, p {
  font-family: var(--font-primary);
  color: var(--color-quarternary);
  font-weight: lighter;
}

blockquote, cite {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-style: italic;
  font-weight: bold;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

mark {
  background-color: var(--color-tertiary);

}
