.header-main {
  font-family: var(--font-secondary);
  background-color: var(--color-quarternary)
}

a {
  font-family: var(--font-primary);
  color: var(--color-quarternary-light);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    transform: none;
  }

}
