.card {
  border-radius: 18px;
  background-color: var(--color-quarternary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
  cursor: pointer;
}

.card-image {
}

h2 {
  text-align: center;
  color: var(--color-secondary);
}

h3 {
  text-align: center;
  font-family: var(--font-primary);
  color: var(--color-secondary-dark);
  margin: 0;
}

p {
  text-align: center;
  color: var(--color-quarternary-light);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
