.banner-dark,
.banner-light {
  max-height: 100px;
}

.hero-image {
  background-image: linear-gradient(rgba( 0, 0, 0, 15), rgba(0, 0, 0, 15));
  background-color: rgba( 0, 0, 0, 15);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(4px);
}

.hero-text {
  background-color: rgba(0,0,0, 0.4);
  border: 3px solid var(--color-quarternary-light);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
